{% extends "layout.html" %}

{% block heading %}
    Your search returned the following books:
{% endblock %}

{% block body %}
    <ul>
        {% for book in books %}
            <li>
                <a href="{{ url_for('book', book_id=book.id) }}">
                    ISBN: {{ book.isbn }}. Title: {{ book.title }}. Author: {{ book.author }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div>
        <a href="{{ url_for('home') }}">Back to Home</a>
    </div>
{% endblock %}
