<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <title>Renegade's Book Review</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>
    <body>
        <div>
            <div class="container-fluid imgBackground">
                <div class="row">
                    <div class="col-md-8 mb-md-0 mb-3">
                        <h1>{% block heading %}{% endblock %}</h1>
                    </div>
                    <div class="col-md-4 mb-md-0 mb-3">
                        <nav class="navbar navbar-expand-lg navbar-dark">
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>

                          <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                            <ul class="navbar-nav">
                              <li class="nav-item active">
                                <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">Post a Review</a>
                              </li>
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Your Account</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown08">
                                    {% if session.get("login") == True %}
                                        <a class="dropdown-item" href="#">{{ session.get("username") }}</a>
                                        <a class="dropdown-item" href="/logout">Log-out</a>
                                    {% else %}
                                        <a class="dropdown-item" href="/login">Log-in</a>
                                    {% endif %}
                                </div>
                              </li>
                            </ul>
                          </div>
                        </nav>
                    </div>
                </div>

            </div>
            <div class="jumbotron">
                <div class="container">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>

            <!-- Footer -->
            <footer class="page-footer pt-4">

              <!-- Footer Links -->
              <div class="container-fluid text-center text-md-left">

                <!-- Grid row -->
                <div class="row justify-content-md-center">

                  <!-- Grid column -->
                  <div class="col-md-3 mb-md-0 mb-3">
                    <!-- Links -->
                    <h5 class="text-uppercase">About Us</h5>
                    <ul class="list-unstyled">
                      <li>
                        <a href="#!" class="whiteLink">Terms and Conditions</a>
                      </li>
                      <li>
                        <a href="#!" class="whiteLink">Privacy</a>
                      </li>
                      <li>
                        <a href="#!" class="whiteLink">Team</a>
                      </li>
                      <li>
                        <a href="#!" class="whiteLink">Help</a>
                      </li>
                    </ul>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-3 mb-md-0 mb-3">
                    <!-- Links -->
                    <h5 class="text-uppercase">Collaboration</h5>
                    <ul class="list-unstyled">
                      <li>
                        <a href="#!" class="whiteLink">Post a review</a>
                      </li>
                      <li>
                        <a href="#!" class="whiteLink">Report a bug</a>
                      </li>
                      <li>
                        <a href="#!" class="whiteLink">API</a>
                      </li>
                    </ul>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-3 mb-md-0 mb-3">
                    <!-- Links -->
                    <h5 class="text-uppercase">Connect</h5>
                    <ul class="list-unstyled">
                      <li>
                        <a href="#!" class="whiteLink">Facebook</a>
                      </li>
                      <li>
                        <a href="#!" class="whiteLink">Twitter</a>
                      </li>
                      <li>
                        <a href="#!" class="whiteLink">Instagram</a>
                      </li>
                    </ul>
                  </div>
                  <!-- Grid column -->

                </div>
                <!-- Grid row -->

              </div>
              <!-- Footer Links -->

              <!-- Copyright -->
              <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="#" class="whiteLink">renegades.com</a>
              </div>
              <!-- Copyright -->

            </footer>
            <!-- Footer -->
  </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </body>
</html>

